{{#each posts as |post| }}
<div class="dashboard-post-container">
    <a href="/post/{{post.id}}/edit" class="dashboard-post">
        <div class="posts">
            <header class="post-title">
                {{post.title}}
                <span class="posted-by">
                    Posted by: {{name}} on
                    {{format_date post.date_created}}
                </span>
            </header>
            <p class="post-content">
                {{post.content}}
            </p>
        </div>
    </a>
</div>
{{/each}}